# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database files
*.sqlite3
*.db

# IDE files
.vscode/
.idea/

# Environment variables
.env

# OS
*.swp
.DS_Store

# Compiled Python files
*.pyc

# Virtual environment
venv/

# Django migration files
**/migrations/

# Local settings
local_settings.py

# Ignore any files or directories specified in .gitignore_global
.gitignore_global

# Ignore any files or directories specified in .gitignore_local
.gitignore_local
