# Byte-compiled / optimized / DLL files
__pycache__/
# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
/media
staticfiles_build/
/sent_mails

# IDE files
.vscode/
.idea/

# Environment
.env
.env.local
.env.production

# OS
*.swp
.DS_Store

# Virtual environment
venv/

# Django project specific
# Ignore user-uploaded files
/media/
# Ignore collected static files for deployment

# Vercel
.vercel

# Ignore any files or directories specified in .gitignore_local
.gitignore_local
