# Django Core
asgiref
Django
gunicorn
python-dotenv
sqlparse
whitenoise

# Database
dj-database-url
psycopg

# Django Packages & Media
captcha
django-recaptcha
certifi
cloudinary
django-cloudinary-storage
pillow

# Utilities
charset-normalizer
idna
requests
six
urllib3
