{% load static %}

<!--begin::Sidebar-->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand">
        <!--begin::Brand Link-->
        <a href="{% url 'staff_profile' %}" class="brand-link">
            <!--begin::Brand Image-->
            <img
                    src="{% static './assets/img/AdminLTELogo.png' %}"
                    alt="AdminLTE Logo"
                    class="brand-image opacity-75 shadow"
            />
            <!--end::Brand Image-->
            <!--begin::Brand Text-->
            <span class="brand-text fw-light">{{ user.username }}</span>
            <!--end::Brand Text-->
        </a>
        <!--end::Brand Link-->
    </div>
    <!--end::Sidebar Brand-->
    <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul
                    class="nav sidebar-menu flex-column"
                    data-lte-toggle="treeview"
                    role="navigation"
                    aria-label="Main navigation"
                    data-accordion="false"
                    id="navigation"
            >
                <li class="nav-item">
                    {% url 'staff_home' as staff_home_url %}
                    <a href="{{ staff_home_url }}" class="nav-link
                            {% if request.path == staff_home_url %} active {% endif %}">
                        <i class="nav-icon bi bi-house-door-fill"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'staff_take_attendance' as staff_take_attendance_url %}
                    <a href="{{ staff_take_attendance_url }}" class="nav-link
                            {% if request.path == staff_take_attendance_url %} active {% endif %}">
                        <i class="nav-icon bi bi-person-check"></i>
                        <p>
                            Take Attendance
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'staff_update_attendance' as staff_update_attendance_url %}
                    <a href="{{ staff_update_attendance_url }}" class="nav-link
                            {% if request.path == staff_update_attendance_url %} active {% endif %}">
                        <i class="nav-icon bi bi-pencil-square"></i>
                        <p>
                            View Update Attendance
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'staff_feedback' as staff_feedback_url %}
                    <a href="{{ staff_feedback_url }}" class="nav-link
                            {% if request.path == staff_feedback_url %} active {% endif %}">
                        <i class="nav-icon bi bi-chat-left-text"></i>
                        <p>
                            FeedBack
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'staff_apply_leave' as staff_apply_leave_url %}
                    <a href="{{ staff_apply_leave_url }}" class="nav-link
                            {% if request.path == staff_apply_leave_url %} active {% endif %}">
                        <i class="nav-icon bi bi-calendar-plus"></i>
                        <p>
                            Apply Leave
                        </p>
                    </a>
                </li>

            </ul>
            <!--end::Sidebar Menu-->
        </nav>
    </div>
    <!--end::Sidebar Wrapper-->
</aside>
<!--end::Sidebar-->