{% extends 'hod_template/base_template.html' %}
{% block page_title %}
    Edit Subject
{% endblock page_title %}
{% block main_content %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card card-primary card-outline mb-4">
                    <!--begin::Header-->
                    <div class="card-header">
                        <div class="card-title">Edit Subject</div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Form-->
                    <form role="form" action="/edit_subject_save" method="post">
                        {% csrf_token %}
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">Subject Name</label>
                                <input type="text" class="form-control" name="subject_name" placeholder="Enter Subject"
                                       value="{{ subject.subject_name }}">
                                <input type="hidden" name="subject_id" value="{{ subject.id }}">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Course</label>
                                <select class="form-control" name="course">
                                    {% for course in courses %}
                                        <option value="{{ course.id }}" {% if course.id == subject.course_id.id %}
                                                selected {% endif %}>{{ course.course_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Staff</label>
                                <select class="form-control" name="staff">
                                    {% for staff in staffs %}
                                        <option value="{{ staff.id }}"{% if staff.id == subject.staff_id.id %}
                                                selected {% endif %}>{{ staff.first_name }} {{ staff.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!--end::Body-->
                        <!--begin::Footer-->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary w-100">Save Change</button>
                        </div>
                        <!--end::Footer-->
                    </form>
                    <!--end::Form-->
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}
