{% extends 'hod_template/base_template.html' %}
{% block page_title %}
    Edit Student | {{ username }}
{% endblock page_title %}
{% block main_content %}

    <section class="content">
        <div class="container-fluid">
            {% if messages %}
                <div class="row">
                    <div class="col-12">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} text-center" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline mb-4">
                        <div class="card-header">
                            <h3 class="card-title"><i class="bi bi-pencil-square me-2"></i>Edit Student Details</h3>
                        </div>
                        <form role="form" action="{% url 'edit_student_save' %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        {{ form.first_name.label_tag }}
                                        {{ form.first_name }}
                                        {% if form.first_name.errors %}
                                            <div class="alert alert-danger mt-1 p-2">{{ form.first_name.errors }}</div>{% endif %}
                                    </div>
                                    <div class="col-md-6 form-group">
                                        {{ form.last_name.label_tag }}
                                        {{ form.last_name }}
                                        {% if form.last_name.errors %}
                                            <div class="alert alert-danger mt-1 p-2">{{ form.last_name.errors }}</div>{% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        {{ form.username.label_tag }}
                                        {{ form.username }}
                                        {% if form.username.errors %}
                                            <div class="alert alert-danger mt-1 p-2">{{ form.username.errors }}</div>{% endif %}
                                    </div>
                                    <div class="col-md-6 form-group">
                                        {{ form.email.label_tag }}
                                        {{ form.email }}
                                        {% if form.email.errors %}
                                            <div class="alert alert-danger mt-1 p-2">{{ form.email.errors }}</div>{% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        {{ form.address.label_tag }}
                                        {{ form.address }}
                                        {% if form.address.errors %}
                                            <div class="alert alert-danger mt-1 p-2">{{ form.address.errors }}</div>{% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        {{ form.course.label_tag }}
                                        {{ form.course }}
                                        {% if form.course.errors %}
                                            <div class="alert alert-danger mt-1 p-2">{{ form.course.errors }}</div>{% endif %}
                                    </div>
                                    <div class="col-md-6 form-group">
                                        {{ form.session_year_id.label_tag }}
                                        {{ form.session_year_id }}
                                        {% if form.session_year_id.errors %}
                                            <div class="alert alert-danger mt-1 p-2">{{ form.session_year_id.errors }}</div>{% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        {{ form.sex.label_tag }}
                                        {{ form.sex }}
                                        {% if form.sex.errors %}
                                            <div class="alert alert-danger mt-1 p-2">{{ form.sex.errors }}</div>{% endif %}
                                    </div>
                                    <div class="col-md-6 form-group">
                                        {{ form.profile_picture.label_tag }}
                                        {{ form.profile_picture }}
                                        {% if form.profile_picture.errors %}
                                            <div class="alert alert-danger mt-1 p-2">{{ form.profile_picture.errors }}</div>{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary w-50"><i class="bi bi-save-fill me-2"></i>Save
                                    Changes
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}
