{% extends 'hod_template/base_template.html' %}
{% block page_title %}
    Edit Course | {{ course.course_name }}
{% endblock page_title %}
{% block main_content %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline mb-4">
                        <div class="card-header">
                            <h3 class="card-title"><i class="bi bi-pencil-square me-2"></i>Edit Course</h3>
                        </div>
                        <form role="form" action="{% url 'edit_course_save' %}" method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="course_name" class="form-label">Course Name</label>
                                    <input type="text" class="form-control" id="course_name" name="course"
                                           value="{{ course.course_name }}" required>
                                    <input type="hidden" name="course_id" value="{{ course.id }}">
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary w-50"><i
                                        class="bi bi-save-fill me-2"></i>Save Changes
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}