{% extends 'hod_template/base_template.html' %}
{% block page_title %}
    Edit Student | Username : {{ student.admin.username }} | #ID : {{ student.admin.id }}
{% endblock page_title %}
{% block main_content %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card card-primary card-outline mb-4">
                    <!--begin::Header-->
                    <div class="card-header">
                        <div class="card-title">Edit Student</div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Form-->
                    <form role="form" action="/edit_student_save" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">Email address</label>
                                <input type="email" class="form-control" name="email" placeholder="Enter email"
                                       value="{{ student.admin.email }}">
                            </div>
                            <div class="form-group">
                                <label class="form-label">First Name</label>
                                <input type="text" class="form-control" name="first_name"
                                       placeholder="Enter first name" value="{{ student.admin.first_name }}">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control" name="last_name" placeholder="Enter last name"
                                       value="{{ student.admin.last_name }}">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" name="username" placeholder="Enter username"
                                       value="{{ student.admin.username }}">
                                <input type="hidden" name="student_id" value="{{ student.admin.id }}">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Address</label>
                                <input type="text" class="form-control" name="address" placeholder="Enter address"
                                       value="{{ student.address }}">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Course</label>
                                <select class="form-control" name="course">
                                    {% for course in courses %}
                                        <option value="{{ course.id }}" {% if course.id == student.course_id.id %}
                                                selected {% endif %}>{{ course.course_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Sex</label>
                                <select class="form-control" name="sex">
                                    <option {% if student.gender == 'Male' %} selected {% endif %}>Male</option>
                                    <option {% if student.gender == 'Female' %} selected {% endif %}>Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Profile Picture</label>
                                <input type="file" class="form-control" name="profile_picture">
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="form-label">Session Start</label>
                                <input type="date" class="form-control-sm" placeholder="Session Start Year"
                                       name="session_start" value="{{ student.session_start_year|date:"Y-m-d" }}">
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Session End</label>
                                <input type="date" class="form-control-sm" placeholder="Session End Year"
                                       name="session_end" value="{{ student.session_end_year|date:"Y-m-d" }}">
                            </div>
                            <div class="form-group>">
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                            <div class="alert alert-danger"
                                                 style="margin-top: 10px;text-align: center ">{{ message }}</div>
                                        {% endif %}
                                        {% if message.tags == 'success' %}
                                            <div class="alert alert-success"
                                                 style="margin-top: 10px;text-align: center ">{{ message }}</div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <!--end::Body-->
                        <!--begin::Footer-->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary w-100">Save Changes</button>
                        </div>
                        <!--end::Footer-->
                    </form>
                    <!--end::Form-->
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}
