{% load static %}

<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="light">
    <div class="sidebar-brand">
        <a href="{% url 'admin_profile' %}" class="brand-link">
            {% if user.adminhod.profile_pic %}
                <img src="{{ user.adminhod.profile_pic.url }}" alt="{{ user.username }} Profile"
                     class="brand-image img-circle shadow-sm">
            {% else %}
                <span class="brand-image img-circle shadow-sm d-flex align-items-center justify-content-center bg-primary text-white"
                      style="width: 33px; height: 33px; font-size: 1.1rem;">
                    {{ user.first_name|first|upper }}
                </span>
            {% endif %}
            <span class="brand-text fw-light">{{ user.username }}</span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul
                    class="nav sidebar-menu flex-column nav-indent"
                    data-lte-toggle="treeview"
                    role="navigation"
                    aria-label="Main navigation"
                    data-accordion="false"
            >
                <li class="nav-item">
                    <a href="{% url 'admin_home' %}"
                       class="nav-link {% if request.resolver_match.url_name == 'admin_home' %}active fw-bold{% endif %}">
                        <i class="nav-icon bi bi-house-door-fill"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>

                <!-- ACADEMICS GROUP -->
                <li class="nav-item {% if request.resolver_match.url_name == 'add_course' or request.resolver_match.url_name == 'manage_course' or request.resolver_match.url_name == 'edit_course' or request.resolver_match.url_name == 'add_subject' or request.resolver_match.url_name == 'manage_subject' or request.resolver_match.url_name == 'edit_subject' or request.resolver_match.url_name == 'manage_session' %}menu-open{% endif %}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-journal-bookmark-fill"></i>
                        <p>Academics<i class="nav-arrow bi bi-chevron-right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'add_course' %}"
                               class="nav-link {% if request.resolver_match.url_name == 'add_course' %}active fw-bold{% endif %}">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Add Course</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'manage_course' %}"
                               class="nav-link {% if request.resolver_match.url_name == 'manage_course' or request.resolver_match.url_name == 'edit_course' %}active fw-bold{% endif %}">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Manage Course</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'add_subject' %}"
                               class="nav-link {% if request.resolver_match.url_name == 'add_subject' %}active fw-bold{% endif %}">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Add Subject</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'manage_subject' %}"
                               class="nav-link {% if request.resolver_match.url_name == 'manage_subject' or request.resolver_match.url_name == 'edit_subject' %}active fw-bold{% endif %}">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Manage Subject</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'manage_session' %}"
                               class="nav-link {% if request.resolver_match.url_name == 'manage_session' %}active fw-bold{% endif %}">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Manage Session Year</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- STAFF GROUP -->
                <li class="nav-item {% if request.resolver_match.url_name == 'add_staff' or request.resolver_match.url_name == 'manage_staff' or request.resolver_match.url_name == 'edit_staff' %}menu-open{% endif %}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-person-badge"></i>
                        <p>Staff<i class="nav-arrow bi bi-chevron-right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'add_staff' %}"
                               class="nav-link {% if request.resolver_match.url_name == 'add_staff' %}active fw-bold{% endif %}">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Add Staff</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'manage_staff' %}"
                               class="nav-link {% if request.resolver_match.url_name == 'manage_staff' or request.resolver_match.url_name == 'edit_staff' %}active fw-bold{% endif %}">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Manage Staff</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- STUDENT GROUP -->
                <li class="nav-item {% if request.resolver_match.url_name == 'add_student' or request.resolver_match.url_name == 'manage_student' or request.resolver_match.url_name == 'edit_student' %}menu-open{% endif %}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-people-fill"></i>
                        <p>Students<i class="nav-arrow bi bi-chevron-right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'add_student' %}"
                               class="nav-link {% if request.resolver_match.url_name == 'add_student' %}active fw-bold{% endif %}">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Add Student</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'manage_student' %}"
                               class="nav-link {% if request.resolver_match.url_name == 'manage_student' or request.resolver_match.url_name == 'edit_student' %}active fw-bold{% endif %}">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Manage Students</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="{% url 'admin_view_attendance' %}"
                       class="nav-link {% if request.resolver_match.url_name == 'admin_view_attendance' %}active fw-bold{% endif %}">
                        <i class="nav-icon bi bi-clipboard-check"></i>
                        <p>
                            View attendance
                        </p>
                    </a>
                </li>

                <!-- LEAVE MANAGEMENT GROUP -->
                <li class="nav-item {% if request.resolver_match.url_name == 'student_leave_view' or request.resolver_match.url_name == 'staff_leave_view' %}menu-open{% endif %}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-person-walking"></i>
                        <p>Leave Management<i class="nav-arrow bi bi-chevron-right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'student_leave_view' %}"
                               class="nav-link {% if request.resolver_match.url_name == 'student_leave_view' %}active fw-bold{% endif %}">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Student Leave</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'staff_leave_view' %}"
                               class="nav-link {% if request.resolver_match.url_name == 'staff_leave_view' %}active fw-bold{% endif %}">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Staff Leave</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- FEEDBACK GROUP -->
                <li class="nav-item {% if request.resolver_match.url_name == 'student_feedback_message' or request.resolver_match.url_name == 'staff_feedback_message' %}menu-open{% endif %}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-chat-quote-fill"></i>
                        <p>Feedback<i class="nav-arrow bi bi-chevron-right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'student_feedback_message' %}"
                               class="nav-link {% if request.resolver_match.url_name == 'student_feedback_message' %}active fw-bold{% endif %}">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Student Feedback</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'staff_feedback_message' %}"
                               class="nav-link {% if request.resolver_match.url_name == 'staff_feedback_message' %}active fw-bold{% endif %}">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Staff Feedback</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</aside>