{% load static %}

<!--begin::Sidebar-->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand">
        <!--begin::Brand Link-->
        <a href="{% url 'admin_profile' %}" class="brand-link">
            <!--begin::Brand Image-->
            <img
                    src="{% static './assets/img/AdminLTELogo.png' %}"
                    alt="AdminLTE Logo"
                    class="brand-image opacity-75 shadow"
            />
            <!--end::Brand Image-->
            <!--begin::Brand Text-->
            <span class="brand-text fw-light">{{ user.username }}</span>
            <!--end::Brand Text-->
        </a>
        <!--end::Brand Link-->
    </div>
    <!--end::Sidebar Brand-->
    <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul
                    class="nav sidebar-menu flex-column"
                    data-lte-toggle="treeview"
                    role="navigation"
                    aria-label="Main navigation"
                    data-accordion="false"
                    id="navigation"
            >
                <li class="nav-item">
                    {% url 'admin_home' as admin_home_url %}
                    <a href="{{ admin_home_url }}" class="nav-link
                            {% if request.path == admin_home_url %} active {% endif %}">
                        <i class="nav-icon bi bi-house-door-fill"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'add_staff' as add_staff_url %}
                    <a href="{{ add_staff_url }}" class="nav-link
                            {% if request.path == add_staff_url %} active {% endif %}">
                        <i class="nav-icon bi bi-person-plus-fill"></i>
                        <p>
                            Add Staff
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manage_staff' as manage_staff_url %}
                    {% url 'edit_staff' staff_id=id as edit_staff_url %}
                    <a href="{{ manage_staff_url }}" class="nav-link
                            {% if request.path == manage_staff_url %} active {% endif %} {% if request.path == edit_staff_url %} active {% endif %}">
                        <i class="nav-icon bi bi-people"></i>
                        <p>
                            Manage Staffs
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'add_student' as add_student_url %}
                    <a href="{{ add_student_url }}" class="nav-link {% if request.path == add_student_url %}
                       active {% endif %}">
                        <i class="nav-icon bi bi-person-plus-fill"></i>
                        <p>
                            Add Student
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manage_student' as manage_student_url %}
                    {% url 'edit_student' student_id=id as edit_student_url %}
                    <a href="{{ manage_student_url }}" class="nav-link {% if request.path == manage_student_url %}
                       active {% endif %} {% if request.path == edit_student_url %} active {% endif %}">
                        <i class="nav-icon bi bi-people"></i>
                        <p>
                            Manage Students
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'add_course' as add_course_url %}
                    <a href="{{ add_course_url }}" class="nav-link {% if request.path == add_course_url %}
                       active {% endif %}">
                        <i class="nav-icon bi bi-journal-plus"></i>
                        <p>
                            Add Course
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manage_course' as manage_course_url %}
                    {% url 'edit_course' course_id=id as edit_course_url %}
                    <a href="{{ manage_course_url }}" class="nav-link {% if request.path == manage_course_url %}
                       active {% endif %} {% if request.path == edit_course_url %} active {% endif %}">
                        <i class="nav-icon bi bi-journal-text"></i>
                        <p>
                            Manage Course
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'add_subject' as add_subject_url %}
                    <a href="{{ add_subject_url }}" class="nav-link {% if request.path == add_subject_url %}
                       active {% endif %}">
                        <i class="nav-icon bi bi-file-earmark-plus-fill"></i>
                        <p>
                            Add Subject
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manage_subject' as manage_subject_url %}
                    {% url 'edit_subject' subject_id=id as edit_subject_url %}
                    <a href="{{ manage_subject_url }}" class="nav-link {% if request.path == manage_subject_url %}
                       active {% endif %} {% if request.path == edit_subject_url %} active {% endif %}">
                        <i class="nav-icon bi bi-file-earmark-text"></i>
                        <p>
                            Manage Subject
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manage_session' as manage_session_url %}
                    <a href="{{ manage_session_url }}" class="nav-link {% if request.path == manage_session_url %}
                       active {% endif %}">
                        <i class="nav-icon bi bi-file-earmark-text"></i>
                        <p>
                            Manage Session Year
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'admin_view_attendance' as view_attendance_url %}
                    <a href="{{ view_attendance_url }}" class="nav-link {% if request.path == view_attendance_url %}
                       active {% endif %}">
                        <i class="nav-icon bi bi-clipboard-check"></i>
                        <p>
                            View attendance
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'student_feedback_message' as student_feedback_url %}
                    <a href="{{ student_feedback_url }}" class="nav-link {% if request.path == student_feedback_url %}
                       active {% endif %}">
                        <i class="nav-icon bi bi-chat-left-dots-fill"></i>
                        <p>
                            Student Feedback
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'staff_feedback_message' as staff_feedback_url %}
                    <a href="{{ staff_feedback_url }}" class="nav-link {% if request.path == staff_feedback_url %}
                       active {% endif %}">
                        <i class="nav-icon bi bi-chat-right-dots-fill"></i>
                        <p>
                            Staff Feedback
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'student_leave_view' as student_leave_url %}
                    <a href="{{ student_leave_url }}" class="nav-link {% if request.path == student_leave_url %}
                       active {% endif %}">
                        <i class="nav-icon bi bi-person-walking"></i>
                        <p>
                            Student Leave
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'staff_leave_view' as staff_leave_url %}
                    <a href="{{ staff_leave_url }}" class="nav-link {% if request.path == staff_leave_url %}
                       active {% endif %}">
                        <i class="nav-icon bi bi-person-walking"></i>
                        <p>
                            Staff Leave
                        </p>
                    </a>
                </li>
            </ul>
            <!--end::Sidebar Menu-->
        </nav>
    </div>
    <!--end::Sidebar Wrapper-->
</aside>
<!--end::Sidebar-->