# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# Byte-compiled / optimized / DLL files
_pycache_/
*.pyc
*.pyo
*.pyd

# Database files
*.sqlite3
*.db

# IDE files
.vscode/
.idea/

# Environment variables
.env

# OS
*.swp
.DS_Store

# Compiled Python files
*.pyc

# Virtual environment
venv/

# Django migration files
**/migrations/

# Local settings
local_settings.py

# Ignore any files or directories specified in .gitignore_global
.gitignore_global

# Ignore any files or directories specified in .gitignore_local
.gitignore_local